# Entornos virtuales
venv/
.venv/
env/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Base de datos local (SQLite)
*.db
*.sqlite3

# Variables de entorno y llaves privadas
.env

# Configuraciones de VS Code del usuario
.vscode/